<style type="text/css">a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("images/bg.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    /* 兼容Webkit内核浏览器如Chrome和Safari */
    -o-background-size: cover;
    /* 兼容Opera */
    zoom: 1;
}

#songName {
    font-size: 1.5em;
    text-align: center;
}

#authorName {
    font-size: 0.625em;
}

#lyric {
    color: white;
    text-align: center;
    font-size: 0.875em;
}

</style>